.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  margin: 0 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
