.page {
  padding: 16px 80px;
  background-color: #FFFFFF;
}

.index-title h1 {
  margin: 30px 0;
  text-align: center;
  color: #2D3142;
}

.show-title {
  display: block;
}

.show-title h1 {
  margin: 30px 0;
  text-align: center;
  color: #2D3142;
}

.show-title .btn {
  align-items: center;
  border-color: #C07FD6;
  color: #C07FD6;
  text-align: center;
  margin-bottom: 40px;
}

.title-new h1 {
  text-align: center;
  margin: 16px 0;
}
