.simple-form {
  color: #2D3142;
  width: auto;
  margin: auto;
  display: block;
  align-items: center;
  border: 1px solid #C07FD6;
  border-radius: 2%;
  padding: 16px 80px;
}

.simple-form .btn {
  margin: 12px 0;
}

.simple-form .button-div {
  display: block;
  text-align: center;
}
